@import "tailwindcss";

:root {
  --bg-color: #efefef;
}



body {
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

*{

  box-sizing: border-box;
}

.fix-height{
  min-height: calc(100vh - 150px);
}

.overflow-height{
  height: calc(100vh - 150px);
}
  
button:disabled{
  cursor: no-drop;
}
@keyframes scaleFromCircle {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-from-circle {
  animation: scaleFromCircle 0.25s ease-out;
}
